[Unit]
Description=Firecracker microVM %i
After=network-online.target
Wants=network-online.target
ConditionPathExists={{FC_RUNTIME_ROOT}}/vms/%i/vm.env

[Service]
Type=forking
PIDFile={{FC_RUNTIME_ROOT}}/vms/%i/runtime/firecracker.pid
WorkingDirectory={{FC_CONTROL_ROOT}}
ExecStart={{FC_CONTROL_ROOT}}/bin/fc-start --direct %i
ExecStop={{FC_CONTROL_ROOT}}/bin/fc-stop --direct %i
GuessMainPID=no
KillMode=none

[Install]
WantedBy=multi-user.target
