[Unit]
Description=Firecracker microVM %i
After=network-online.target
Wants=network-online.target
ConditionPathExists={{FC_RUNTIME_ROOT}}/vms/%i/vm.env

[Service]
Type=simple
WorkingDirectory={{FC_CONTROL_ROOT}}
ExecStart={{FC_CONTROL_ROOT}}/bin/fc-start --direct %i
ExecStopPost={{FC_CONTROL_ROOT}}/bin/fc-stop --direct %i
KillMode=control-group
KillSignal=SIGTERM
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
